



<div class="bg-danger row bg-danger-com-header ">
  <div class="form col-sm-4 bg-light mt-5 mb-5 roudend-4 ">
      <h1> Formulário de contato</h1>
            <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
              <div class="mb-6 w-100 ">
                <label for="nome" class="form-label">Nome</label>
                 <input
                   type="text"
                  class="form-control" id="nome"
                  placeholder="Digite seu nome"
                  name="nome"
                  formControlName="nome">
              </div>
              <div class="mb-3 w-100">
                <label for="email" class="form-label">Email </label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  name="nome"
                  formControlName="email"
                 >
              </div>
              <div class="mb-3 w-100">
                <label for="telefone" class="form-label">Telefone</label>
                <input
                  type="text"
                  class="form-control"
                  id="telefone"
                  placeholder="(48)99999-9999"
                  name="telefone"
                  formControlName="telefone">
              </div>
              <div class="mb-3 w-100">
                <label for="valor" class="form-label">Valor da proposta</label>
                <input
                type="string"
                class="form-control"
                id="Valor"
                placeholder="0.000.000,00"
                name="valor"
                formControlName="valor">
              </div>
              <div class="mb-3 w-100">
                <label for="mensagem" class="form-label">Deixe uma mensagem</label>
                <textarea class="form-control" id="mensagem" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-4 position-relative">Enviar</button>
            </form>
      <div>

      </div>




  </div>



