<!-- <app-card *ngForm="let card of Cards"
  [titulo]= "card.titulo"
  [imagem]="card.imagem"
  [ano]="card.ano"
  [cor]="card.cor"
  [quilometragem]="card.quilometragem"
  [modelo]="card.modelo"
  (eventoClique)="emCliqueCard($event)"


></app-card> -->

<app-card *ngForm="let card of Cards"
  [titulo]= "card.titulo"
  [imagem]="card.imagem"
  [ano]="card.ano"
  [cor]="card.cor"
  [quilometragem]="card.quilometragem"
  [modelo]="card.modelo"
  (eventoClique)="emCliqueCard($event)"


></app-card>
